body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.calculator {
    background-color: #333;
    border-radius: 10px;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.calculator h1 {
    color: #fff;
}

.calculator input[type="text"] {
    color: white;
    width: 93%;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.calculator .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.calculator button {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #555;
    color: #fff;
    transition: background-color 0.3s;
}

.calculator button:hover {
    background-color: #777;
}